.ResultsPage {
  text-align: center;
}

.controlGroup {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {
  .ResultsPage,
  .controlGroup {
    width: 100%;
  }
  .cityModalXButton{
    width: auto!important;
  }
}

.tripResultModalWrapper {
  bottom: 50px;
  background-color: rgba(240, 248, 255, 0.37);
}

.controlGroupModalWrapper {
  bottom: 0px;
  padding-bottom: 10px;
  padding-top: 2px;
  margin: 0px;
  background-color: rgba(240, 248, 255, 0.37);
}

.controlGroupModalWrapper div{
  margin: 0px;
}

.cityModalWrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: aliceblue;
  padding: 20px;
  border-radius: 10px;
  width: auto!important;
}

.cityModalXButton {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px 7px 2px 7px;
}