.ResultsPage {
  text-align: center;
}

.controlGroup {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {
  .ResultsPage,
  .controlGroup {
    width: 100%;
  }
}
