.ResultsPage {
  text-align: center;
}

.controlGroup {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

@media only screen and (max-width: 600px) {
  .ResultsPage,
  .controlGroup {
    width: 100%;
  }
}

.tripResultModalWrapper {
  bottom: 50px;
  background-color: rgba(240, 248, 255, 0.37);
}

.controlGroupModalWrapper {
  bottom: 0px;
  padding-bottom: 10px;
  padding-top: 2px;
  margin: 0px;
  background-color: rgba(240, 248, 255, 0.37);
}

.controlGroupModalWrapper div{
  margin: 0px;
}