.TripPlanner {
  display: flex;
  max-height: 400px;
}

.dotArea {
  width: 80px;
  margin-top: 26px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.inputArea {
  width: 100%;
}

.plus {
  margin-top: 30px;
}

.suggestedCity {
  margin-left: 10px;
  cursor: pointer;
}

.bubbleInfo {
  margin-left: 10px;
}

@media only screen and (max-width: 600px) {
  .dotArea {
    margin-left: 0px;
  }
}
